<div><strong>{{localize "OG.Global.Attack"}}</strong></div>
<div>Cible : {{targetName}}</div>

{{#if evade}}
  <div>{{localize "OG.Global.Evade"}} -{{evade}}</div>
{{/if}}
{{#if armor}}
  <div>{{localize "OG.Global.Armor"}} -{{armor}}</div>
{{/if}}
