<div class="grid grid-4col">
  {{#each words as |item id|}}
    <div class="item word-card" data-item-id="{{item._id}}">
      <h2 class="flexrow" title="{{item.name}}">
        <div class="name">{{item.name}}</div> {{ifThen item.system.common "" "*"}}
      </h2>

      <div class="flex flexrow">
        <button class="action-button item-edit" title="{{localize "OG.Global.Edit"}}">
          <i class="fas fa-edit"></i>
        </button>
        <button class="action-button item-delete" title="{{localize "OG.Global.Delete"}}">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  {{/each}}
</div>
