<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize "OG.Global.Name"}}</div>
    <div class="item-name">{{localize "OG.Ability.IsLearned"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="{{localize "OG.Global.Add"}}" data-type="word">
        <i class="fas fa-plus"></i> {{localize "OG.Global.Add"}}
      </a>
    </div>
  </li>
  {{#each abilities as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          </a>
        </div>
        <h4>{{item.name}} {{ifThen item.system.free "*" ""}}</h4>
      </div>
      <div class="item-name">
        {{#if item.system.learned}}
          <button type="button" data-learn-ability data-id="{{item._id}}">
            <i class="fa-solid fa-check"></i>
          </button>
        {{/if}}
        {{#unless item.system.learned}}
          <button type="button" data-learn-ability data-id="{{item._id}}">
            <i class="fa-solid fa-xmark"></i>
          </button>
        {{/unless}}
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize "OG.Global.Edit"}}"><i class="fas fa-edit"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
