<div class="grid grid-2col">
  {{#each attacks as |item id|}}
    <div class="item card" data-id="{{item._id}}">
      <div class="grid grid-4col flex-items-center">
        <img class="profile-img chattable" src="{{item.img}}" title="{{item.name}}" data-id="{{item._id}}" />
        <h2 class="grid-span-2 flexrow" title="{{item.name}}">
          <div class="name{{ifThen item.system.learned " learned" ""}}">{{item.name}}</div>
          {{ifThen item.system.accuracy (concat "(" item.system.accuracy ", " item.system.damage ")") ""}}
        </h2>

        <div>
          {{#if item.system.accuracy}}
            <button type="button" class="little square" data-roll-attack data-id="{{item._id}}">
              <i class="far fa-dice-d6"></i>
            </button>
          {{/if}}
        </div>
      </div>
      <p>{{item.system.damageNote}}</p>
    </div>
  {{/each}}
</div>
