<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "OG.Global.Name"}}" />
      </h1>
      <h1 class="charname">
        <input name="system.cavemanName" type="text" value="{{system.cavemanName}}"
               placeholder="{{localize "OG.Creature.CavemanName"}}" />
      </h1>

      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.unggghhPoints.value" class="resource-label">{{localize "OG.Global.UnggghhPoints"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.unggghhPoints.value" value="{{system.unggghhPoints.value}}"
                   data-dtype="Number" />
            <span> / </span>
            <input type="number" name="system.unggghhPoints.max" value="{{system.unggghhPoints.max}}"
                   data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.evade" class="resource-label">{{localize "OG.Global.Evade"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            {{numberInput system.evade name="system.evade"}}
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.evade" class="resource-label">{{localize "OG.Creature.Armor"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            {{numberInput system.armor name="system.armor"}}
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.eatingHabits" class="resource-label">{{localize "OG.Creature.EatingHabits.Label"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="system.eatingHabits">
              {{selectOptions eatingHabitsChoices selected=system.eatingHabits localize=true}}
            </select>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.evade" class="resource-label">{{localize "OG.Creature.FoodValue"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.foodValue" value="{{system.foodValue}}" />
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attacks">{{localize "OG.Creature.Attacks"}}</a>
    <a class="item" data-tab="description">{{localize "OG.Global.Description"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="attacks">
      {{> "systems/og/templates/actor/parts/actor-attacks.html.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true editable=editable}}
    </div>
  </section>
</form>
