<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "OG.Global.Name"}}" /></h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="grid grid-3col">
      <div>
        <label for="item-accuracy-{{item._id}}">{{localize "OG.Attack.Accuracy"}}</label>
        <input name="system.accuracy" value="{{item.system.accuracy}}" type="number"
               placeholder="{{localize "OG.Attack.Accuracy"}}" id="item-accuracy-{{item._id}}" data-dtype="Number" />
      </div>
      <div>
        <label for="item-damage-{{item._id}}">{{localize "OG.Global.Damage"}}</label>
        <input name="system.damage" value="{{item.system.damage}}" type="number"
               placeholder="{{localize "OG.Global.Damage"}}" id="item-damage-{{item._id}}" data-dtype="Number" />
      </div>
      <div>
        <label for="item-damageNote-{{item._id}}">{{localize "OG.Attack.DamageNote"}}</label>
        <input name="system.damageNote" value="{{item.system.damageNote}}" type="text"
               placeholder="{{localize "OG.Attack.DamageNote"}}" id="item-damageNote-{{item._id}}" />
      </div>
    </div>

    <label for="item-description-{{item._id}}">{{localize "OG.Global.Description"}}</label>
    {{editor item.system.description target="system.description" button=true editable=editable}}
  </section>
</form>
