<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "OG.Global.Name"}}" /></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "OG.Global.Description"}}</a>
    <a class="item" data-tab="effects">{{localize "OG.Effects.Label"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class="tab" data-group="primary" data-tab="effects">
      {{> "systems/og/templates/item/parts/item-effects.html.hbs"}}
    </div>
  </section>
</form>
