<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "OG.Global.Name"}}" /></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "OG.Global.Description"}}</a>
    <a class="item" data-tab="configuration">{{localize "OG.Global.Configuration"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class="tab" data-group="primary" data-tab="configuration">
      <div class="grid grid-2col">
        <div>
          <label for="item-accuracy-{{item._id}}">{{localize "OG.Attack.Accuracy"}}</label>
          <input name="system.accuracy" value="{{item.system.accuracy}}" type="number"
                 placeholder="{{localize "OG.Attack.Accuracy"}}" id="item-accuracy-{{item._id}}" data-dtype="Number" />
        </div>
        <div>
          <label for="item-damage-{{item._id}}">{{localize "OG.Global.Damage"}}</label>
          <input name="system.damage" value="{{item.system.damage}}" type="number"
                 placeholder="{{localize "OG.Global.Damage"}}" id="item-damage-{{item._id}}" data-dtype="Number" />
        </div>
      </div>

      <p>
        <label for="item-damageNote-{{item._id}}">{{localize "OG.Attack.DamageNote"}}</label>
        {{editor enrichedDamageNote target="system.damageNote" button=true editable=editable engine="prosemirror"}}
      </p>
    </div>
  </section>
</form>
